.idea
.DS_Store
sld-extern.tgz
sld-extern/

# ignore c compilation targets
assignment_*/**/*.o
assignment_*/**/*.x
assignment_*/**/*.vcd
assignment_*/**/*.d

solution_*/**/*.o
solution_*/**/*.x
solution_*/**/*.vcd
solution_*/**/*.d